<!DOCTYPE html>
<html lang="en">
<head>
    <title>bbs-luebeck</title>
</head>
<link rel="stylesheet" href="./main.css">
<script src="lib/vue.min.js"></script>
<link rel="stylesheet" href="lib/theme-chalk/index.css">
<script src="lib/index.js"></script>
<script src="lib/axios.min.js"></script>
<script src="lib/qs.min.js"></script>
<body class="background">
<style>
[v-cloak] {
  display: none;
}
</style>    
<div id="app" v-cloak>
    <el-row ref="menu" class="menu">
    <el-col :span="2" style = "cursor: pointer" ><div @click="toRouter('index.html')"><img src="lib/logo.png" height="40px"></div></el-col>
    <el-col :offset="6" :span="7"><div><el-input v-model="keyword" placeholder="type keyword"></el-input></div></el-col>
    <el-col :span="1"><div><el-button icon="el-icon-search" circle size="middle" @click="searchKey()"></el-button></div></el-col>
    <el-col :span="8">
      <div>
        <el-button type="info" plain @click="logOut()" v-if="sessionStorage.getItem('userid')" style="float: right; margin-left: 20px">Log out</el-button>
        <el-button type="info" plain @click="toRouter('register.html')" v-else style="float: right; margin-left: 20px">Log in</el-button>
        <el-button type="info" plain icon="el-icon-user" @click="toUserDiscussion()" style="float: right; margin-left: 20px">
          <span v-if="sessionStorage.getItem('username')">
            {{sessionStorage.getItem('username')}}
          </span>
          <span v-else>
            Guest
          </span>
        </el-button>
        <el-button type="primary" @click="toCreateTopic()" style="float: right;" icon="el-icon-plus">Create a topic
        </el-button>
      </div>
    </el-col>
  </el-row>
    <el-row :gutter="20" style="top:20px">
        <el-col :offset="8" :span="8" class="border1">
            <el-form ref="form" :model="form" label-width="80px" :rules="rules">
                <el-form-item label="Title" prop="title">
                    <el-input v-model="form.title"></el-input>
                </el-form-item>
                <el-form-item label="Label" prop="label">
                    <el-select v-model="form.label" placeholder="Select">
                        <el-option
                                v-for="item in options"
                                :key="item"
                                :label="item"
                                :value="item">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Content" prop="content">
                    <el-input type="textarea" :rows="7" v-model="form.content"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit">Create</el-button>
                    <el-button>Cancel</el-button>
                </el-form-item>
            </el-form>
        </el-col>
    </el-row>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            domain:"http://localhost/BBS/BBS_Server/public/discussion/",
            form:{name:'',desc:''},
            clientHeight:'',
            options:['study','programming','work','sport','life','food','other'],
            searchKeyword:'',
            keyword:'',
            form:{
                label:'',
                title:'',
                content:'',
            },
            label:'',
            visible:false,
            title:'',
            content:'',
            userid:'',
            hots:["a","b","c"],
            rules: {
                label: [
                    { required: true, message: 'label can not be empty', trigger: 'change' },
                ],
                title:[
                    { required: true, message: 'title can not be empty', trigger: 'change' },
                    {min:5,max:300,message: '5-200 letters',trigger: 'change'}
                ],
                content: [
                    { required: true, message: 'content can not be empty', trigger: 'change' },
                    {min:5,max:400,message: '5-400 letters',trigger: 'change'}
                ],
            },
        },
        mounted:function () {

            window.onscroll = function () {
                app.clientHeight = document.documentElement.scrollTop;
            };
            if(sessionStorage.getItem('userid')==null)
                this.userid=false;
            this.userid = true;
        },
        created:function()
        {
        },
        watch: {
            clientHeight:function()
            {
                if(app.clientHeight!='')
                //console.log(document.documentElement.scrollTop);
                    this.$refs.menu.$el.style.top = app.clientHeight+'px';
            }
        },
        methods:{
            toCreateTopic:function()
            {
                if(sessionStorage.getItem("userid")!=null)
                {
                    this.toRouter("create.html");
                }
                else this.toRouter("register.html");
            },
            toUser:function()
            {
                if(sessionStorage.getItem("userid")!=null)
                {
                    this.toRouter("user.html");
                }
                else this.toRouter("register.html");
            },
            toUserDiscussion:function()
            {
                if(sessionStorage.getItem("userid")!=null)
                {
                    this.toRouter("mydiscussion.html");
                }
                else this.toRouter("register.html");
            },
            onSubmit:function () {
                var temp = this;
                this.$alert('Are you sure to create a topic?', 'Create a new topic', {
                    confirmButtonText: 'ok',
                    callback: action => {
                        this.$message({
                            type: 'info',
                            message: `You have ${ action }ed`
                        });
                        if(action!="cancel")
                            temp.post();
                    }
                });
            },
            post:function () {
                var temp = this;
                this.$refs["form"].validate((valid)=>
                {
                    if(valid)
                    {
                        axios.post(this.domain+'create?discussion_name='+this.form.title+'&label='+this.form.label+'&discription='+this.form.content)
                            .then(function (response)
                            {
                                temp.toRouter("discussion.html?id="+response.data.discussion_id);
                            })
                            .catch(function(error)
                            {
                                temp.$message.error('Network error');
                            });
                    }
                    else
                    {
                    }
                });
            },
            toRouter:function (router,value) {
                var target = location.href;
                for(var i = target.length-1;i>0;i--)
                {
                    //console.log(target[i]);
                    if(target[i]=='/')
                    {
                        target = target.slice(0,i+1);
                        break;
                    }
                }
                location.href=target+router;
                console.log(target+router);
            },
            searchKey:function()
            {
                this.toRouter('index.html?'+'search='+this.keyword);
            },
            logOut:function()
            {
                this.userid=false;
                var temp = this;
                //this.toRouter("index.html")
                this.$alert('Are you sure to log out?', 'Log out', {
                    confirmButtonText: 'ok',
                    callback: action => {
                        this.$message({
                            type: 'info',
                            message: `You have ${ action }ed`
                        });
                        if(action!="cancel") {

                            axios.post(this.domain)
                                .then(function (response) {
                                    sessionStorage.clear();
                                    temp.toRouter("index.html")
                                })
                                .catch(function (error) {
                                    temp.$message.error('Network error');
                                });
                        }
                    }
                });
            },
        }
    })
</script>
</body>
</html>