<!DOCTYPE html>
<html lang="en">
<head>
    <title>bbs-luebeck</title>
</head>
<link rel="stylesheet" href="./main.css">
<script src="lib/vue.min.js"></script>
<link rel="stylesheet" href="lib/theme-chalk/index.css">
<script src="lib/index.js"></script>
<script src="lib/axios.min.js"></script>
<script src="lib/qs.min.js"></script>
<body class="background">
<style>
[v-cloak] {
  display: none;
}
</style>
<div id="app" v-cloak>
    <el-row ref="menu" class="menu">
    <el-col :span="2" style = "cursor: pointer" ><div @click="toRouter('index.html')"><img src="lib/logo.png" height="40px"></div></el-col>
    <el-col :offset="6" :span="7"><div><el-input v-model="keyword" placeholder="type keyword"></el-input></div></el-col>
    <el-col :span="1"><div><el-button icon="el-icon-search" circle size="middle" @click="searchKey()"></el-button></div></el-col>
    <el-col :span="8">
      <div>
        <el-button type="info" plain @click="logOut()" v-if="sessionStorage.getItem('userid')" style="float: right; margin-left: 20px">Log out</el-button>
        <el-button type="info" plain @click="toRouter('register.html')" v-else style="float: right; margin-left: 20px">Log in</el-button>
        <el-button type="info" plain icon="el-icon-user" @click="toUserDiscussion()" style="float: right; margin-left: 20px">
          <span v-if="sessionStorage.getItem('username')">
            {{sessionStorage.getItem('username')}}
          </span>
          <span v-else>
            Guest
          </span>
        </el-button>
        <el-button type="primary" @click="toCreateTopic()" style="float: right;" icon="el-icon-plus">Create a topic
        </el-button>
      </div>
    </el-col>
  </el-row>
    <el-row ref="topic" style="top:10px">
        <el-col :offset="6" :span="12" class="border1">
            <div>
                <span class="title">{{topic.title}}</span> <br/>
                <span style="color: grey; font-size: 14px;">
                    Created by <i>{{topic.username}}</i> at {{topic.created_time}} <el-tag size="mini" type="info">{{topic.label}}</el-tag>
                </span><br/><br/>
                <div style="word-break: break-all">{{topic.description}}</div>
            </div>
        </el-col>
<!--         <el-col :span="1" style = "line-height: 0px; border-right: solid 1px rgb(230,230,230)">
            <p style="color: grey; font-size: 16px">&nbspfollow</p>
            <p style="font-size: 20px">{{follow}}</p>
        </el-col>
        <el-col :span="2" style = "line-height: 0px; padding-left: 8px">
            <p style="color: grey; font-size: 16px">&nbspanswer</p>
            <p style="font-size: 20px">{{answer}}</p>
        </el-col> -->
    </el-row>
    <el-row style="top:20px">
        <el-col :offset="6" :span="12" class="border1">
            <div v-if="discussions.length==0" style="line-height: 100px; color: gray">
                Np answer for you yet.
            </div>
            <div v-for="(topic,index) in discussions">
                <el-row>
                    <el-col :span="1"><i class="el-icon-user"></i></el-button></el-col>
                    <el-col :span="5" class="username">{{topic.create_user.username}}</el-col>
                </el-row>
                <el-row v-if="topic.prev_comment" class="reply">
                    <div style="word-break: break-all; margin: 10px">Reply to {{topic.prev_comment.create_user.username}}: {{topic.prev_comment.content}}</div>
                </el-row>
                <el-row>
                    <div style="word-break: break-all">{{topic.content}}</div>
                </el-row>
                <el-row style="padding-bottom: 10px; padding-top: 10px">
                    <div style="float: right;">
                        <el-button v-if="topic.isliked_by_user" size="medium" type="text" @click="agree(index)" icon="el-icon-star-on">{{topic.liked_num}} agreed</el-button>
                        <el-button v-else size="medium" type="text" @click="agree(index)" icon="el-icon-star-off">{{topic.liked_num}} agreed</el-button>
                        <el-button size="medium" type="text" @click="addAnswer(index)">reply</el-button>
                    </div>
                </el-row>
                <hr class="line">
            </div>
            <center><el-button type="primary" @click="addAnswer(-1)" icon="el-icon-plus">Add a new answer</el-button></center>
        </el-col>
    </el-row>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            domain:'http://localhost/BBS/BBS_Server/public/',
            id:'10',
            follow:0,
            answer:0,
            keyword:'',
            username:'',
            clientHeight:'',
            searchKeyword:'',
            map:[],
            visible:false,
            topic:{title:"", description: "", username:"", created_time:""},
            discussions:[],
            hots:["a","b","c"]
        },
        mounted:function () {
            window.onscroll = function () {
                app.clientHeight = document.documentElement.scrollTop;
            }
        },
        created:function()
        {
            this.username = sessionStorage.getItem('username');
            var temp = this;
            for(var i=0;i<temp.discussions.length;i++)
            {
                temp.map[temp.discussions[i].id]=i;
            }
            var url = location.href;
            for(var i=0;i<url.length;i++)
            {
                if(url[i]=='=')
                {
                    this.id=url.slice(i+1,url.length);
                }
            }
            axios.get(this.domain+'discussion/search?discussion_id='+this.id+'&user=0')
                .then(function(response)
                {
                    temp.topic.title=response.data.discussions[0].discussion_name;
                    temp.topic.description=response.data.discussions[0].discription;
                    temp.follow=response.data.discussions[0].comment_number;
                    temp.topic.username=response.data.discussions[0].user.username;
                    temp.topic.created_time=response.data.discussions[0].created_time;
                    temp.topic.label=response.data.discussions[0].label;
                })
                .catch(function(error)
                {
                    temp.$message.error('network error');
                });
            axios.get(this.domain+'comment/search?discussion_id='+this.id)
                .then(function(response)
                {
                    console.log(response.data)
                    for(var i=0;i<response.data.length;i++)
                        temp.discussions.push(response.data[i])
                    console.log( temp.discussions)
                    for(var i=0;i<temp.discussions.length;i++)
                    {
                        temp.map[temp.discussions[i].id]=i;
                    }
                })
                .catch(function(error)
                {
                    temp.$message.error('network error');
                });
        },
        watch: {
            clientHeight:function()
            {
                if(app.clientHeight!='')
                //console.log(document.documentElement.scrollTop);
                    this.$refs.menu.$el.style.top = app.clientHeight+'px';
            }
        },
        methods:{
            toCreateTopic:function()
            {
                if(sessionStorage.getItem("userid")!=null)
                {
                    this.toRouter("create.html");
                }
                else this.toRouter("register.html");
            },
            toUser:function()
            {
                if(sessionStorage.getItem("userid")!=null)
                {
                    this.toRouter("user.html");
                }
                else this.toRouter("register.html");
            },
            toUserDiscussion:function()
            {
                if(sessionStorage.getItem("userid")!=null)
                {
                    this.toRouter("mydiscussion.html");
                }
                else this.toRouter("register.html");
            },
            addAnswer: function(pre)
            {
                if(sessionStorage.getItem("userid")!=null)
                {
                    //this.toRouter("register.html");
                }
                else {this.toRouter("register.html"); return;}
                console.log(pre);
                var temp = this;
                this.$prompt('Share you idea with others...', 'Add your answer', {
                    inputType:'textarea',
                    inputValidator: function(val){
                        if(val==null || val.trim()==""){
                            return "Your answer cannnot be empty!";
                        }else if (val.trim().length>5000) {
                            return "Your answer cannot be longer than 6000 characters, current characters: "+val.trim().length;
                        }else{
                            return true;
                        }
                    },
                    confirmButtonText: 'ok',
                    cancelButtonText: 'cancel',
                }).then(({ value }) => {
                    this.$message({
                        type: 'success',
                        message: 'New answer added'
                    });
                    if(pre>=0)
                        temp.postAnswer(value,pre);
                        //temp.postAnswer(value,temp.discussions[pre].id);
                    else temp.postAnswer(value);
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Answer canceled'
                    });
                });
            },
            postAnswer:function (content,pre) {
                if(pre==undefined) pre=-1;
                var temp = this;
                var postData = {
                    id:'',
                    content:content,
                    img_url:null,
                    created_time: '',
                    discussion_id:temp.id,
                    create_user:
                        {
                            id:'',
                            username: this.username,
                            img_url: '',
                        },
                    liked_num:'0',
                    pre_comment:null,
                    isliked_by_user:false,
                };
                if(pre>=0)
                {
                    console.log(pre);
                    postData.prev_comment = new Object();
                    postData.prev_comment.content = temp.discussions[pre].content;
                    postData.prev_comment.create_user = temp.discussions[pre].create_user;
                }
                console.log(pre)
                temp.discussions.push(postData);
                if(pre>=0)
                    pre=temp.discussions[pre].id;
                console.log("after: "+pre)
                //console.log(postData);
                //postData.email = this.form.email;
                //postData.birth = this.form.birth;
                console.log(this.domain+'comment/create?content='+content+'&img_url=&discussion_id='+this.id+'&pre_comment_id='+pre)
                axios.post(this.domain+'comment/create?content='+content+'&img_url=&discussion_id='+this.id+'&pre_comment_id='+pre)
                    .then(function (response)
                    {
                        var data = response.data;
                        var comment_id = data.comment_id;
                        //console.log(data.comment_id)
                        temp.discussions[temp.discussions.length-1].id = comment_id;
                        //console.log(temp.discussions[temp.discussions.length-1].id)
                        temp.map[temp.discussions.length-1] = comment_id;
                        //console.log(temp.discussions.length-1+': '+temp.discussions[temp.discussions.length-1].id+' and' + response.data.​comment_id)
                    })
                    .catch(function(error)
                    {
                        temp.$message.error('Network error');
                    });
            },
            toRouter:function (router,value) {
                var target = location.href;
                for(var i = target.length-1;i>0;i--)
                {
                    //console.log(target[i]);
                    if(target[i]=='/')
                    {
                        target = target.slice(0,i+1);
                        break;
                    }
                }
                location.href=target+router;
            },
            previous:function (id) {
                return "Reply to "+this.discussions[this.map[id]].create_user.username+': "'+this.discussions[this.map[id]].content+' "';
            },
            agree:function (id) {
                if(sessionStorage.getItem("userid")!=null)
                {
                    //this.toRouter("register.html");
                }
                else {this.toRouter("register.html"); return;}
                console.log(this.map[id]);
                var liked = 1;
                if(this.discussions[id].isliked_by_user) {
                    liked=-1;
                    this.discussions[id].liked_num--;
                }
                else this.discussions[id].liked_num++;
                this.discussions[id].isliked_by_user=!this.discussions[id].isliked_by_user;
                //http://localhost/BBS_Server/public/comment/like?comment_id=25&like=1
                axios.post(this.domain+'comment/like?comment_id='+this.discussions[id].id+'&like='+liked)
                    .then(function (response)
                    {
                        console.log(response);
                    })
                    .catch(function(error)
                    {
                        temp.$message.error('Network error');
                    });
            },
            logOut:function()
            {
                var temp = this;
                //this.toRouter("index.html")
                this.$alert('Are you sure to log out?', 'Log out', {
                    confirmButtonText: 'ok',
                    callback: action => {
                        this.$message({
                            type: 'info',
                            message: `You have ${ action }ed`
                        });
                        if(action!="cancel") {

                            axios.post(this.domain)
                                .then(function (response) {
                                    sessionStorage.clear();
                                    temp.toRouter("index.html")
                                })
                                .catch(function (error) {
                                    temp.$message.error('Network error');
                                });
                        }
                    }
                });
            },
            searchKey:function()
            {
                this.toRouter('index.html?'+'search='+this.keyword);
            }
        }
    })
</script>
</body>
</html>