<!DOCTYPE html>
<!-- Author: Shen Yu
Description: the home page of bbs
Component library: Element Ui, https://element.eleme.cn/#/en-US
Compiler: Vue.js, https://vuejs.org/ -->
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <title>bbs-luebeck</title>
</head>
<link rel="stylesheet" href="./main.css">
<script src="lib/vue.min.js"></script>
<link rel="stylesheet" href="lib/theme-chalk/index.css">
<script src="lib/index.js"></script>
<script src="lib/axios.min.js"></script>
<script src="lib/qs.min.js"></script>
<body class="background">
<style>
[v-cloak] {
  display: none;
}
.filter p:hover{
  color: #409EFF;
}
</style>
<div id="app" v-cloak>
  <el-row ref="menu" class="menu">
    <el-col :span="2" style = "cursor: pointer" ><div @click="toRouter('index.html')" ><img src="lib/logo.png" height="40px"></div></el-col>
    <el-col :offset="6" :span="7"><div><el-input v-model="keyword" placeholder="type keyword"></el-input></div></el-col>
    <el-col :span="1"><div><el-button icon="el-icon-search" circle size="middle" @click="searchKey()"></el-button></div></el-col>
    <el-col :span="8">
      <div>
        <el-button type="info" plain @click="logOut()" v-if="sessionStorage.getItem('userid')" style="float: right; margin-left: 20px">Log out</el-button>
        <el-button type="info" plain @click="toRouter('register.html')" v-else style="float: right; margin-left: 20px">Log in</el-button>
        <el-button type="info" plain icon="el-icon-user" @click="toUserDiscussion()" style="float: right; margin-left: 20px">
          <span v-if="sessionStorage.getItem('username')">
            {{sessionStorage.getItem('username')}}
          </span>
          <span v-else>
            Guest
          </span>
        </el-button>
        <el-button type="primary" @click="toCreateTopic()" style="float: right;" icon="el-icon-plus">Create a topic
        </el-button>
      </div>
    </el-col>
  </el-row>
  <el-row style="top:20px">
    <el-col :offset="6" :span="10" class="border1">
      <div style="font-size: 20px;cursor: pointer">
        <i class="el-icon-s-operation" @click="filterVisibility=!filterVisibility"></i>
      </div>
      <div v-if="filterVisibility" style="font-size: 12px">
        <el-row>
          <el-col :span="8">
            <p>Label: {{filter}}</p>
            <hr class="line">
            <div class="filter" style="cursor:pointer; color: grey; ">
              <p @click="setFilter('study')">study</p>
              <p @click="setFilter('programming')">programming</p>
              <p @click="setFilter('work')">work</p>
              <p @click="setFilter('sport')">sport</p>
              <p @click="setFilter('food')">food</p>
              <p @click="setFilter('other')">other</p>
              <p @click="setFilter('all')">all</p>
            </div>
          </el-col>
          <el-col :offset="8" :span="8">
            <p>Sorted by: {{order}}</p>
            <hr class="line">
            <div class="filter" style="cursor:pointer; color: grey; ">
              <p @click="setOrder('time')">time</p>
              <p @click="setOrder('answers')">answers</p>
            </div>
          </el-col>
        </el-row>
      </div>
      <div v-for="(topic,index) in topics" v-if="!deleted[index]">
        <el-row class="title" style="cursor: default">
            {{topic.title}}
            <el-tag size="mini" type="warning" style="vertical-align:5px">{{topic.label}}</el-tag>
            <el-tag size="mini" type="info" style="vertical-align:5px">{{topic.follow}} answers</el-tag>
        </el-row>
        <el-row style="color: grey; font-size: 14px;">
            Created by <i>{{topic.username}}</i> at {{topic.created_time}}
        </el-row>
        <el-row>
            {{topic.content}}
        </el-row>
        <el-row style="padding-bottom: 10px; padding-top: 10px">
          <div style="float: right;">
            <el-button type="primary" size="medium" icon="el-icon-s-comment" @click="toTopic(index)">
              Join in
            </el-button>
          </div>
        </el-row>
        <hr class="line">
      </div>
      <div v-if="topics.length==0" style="line-height: 100px; color: gray">
          No such topics. You can create your own topic!
      </div>
      <center style="cursor: pointer" @click="nextPage()" v-if="topics.length>=10">
        <div style="font-size: 40px">
          <i class="el-icon-bottom"></i>
        </div>
        <p style="margin-top: -14px">More Discssuions</p>
      </center>
    </el-col>
<!--    <el-col :offset="1" :span="4" class="border1" style="cursor: pointer">-->
<!--      <p>Hottest Topic</p>-->
<!--      <div v-for="(hot,index) in hots" @click="toTopic(index,'hot')">-->
<!--        <p>{{index+1}}, {{hot.content}}</p>-->
<!--        <hr class="line">-->
<!--      </div>-->
<!--    </el-col>-->
  </el-row>
</div>
</div>

<script>
  //the instance of Vue, used to danamic render the page
  var app = new Vue({
    el: '#app',
    data: {
      page:1,
      ascorder:false,
      search:false,
      keyword:'',
      filter:'all',
      order:'time',
      domain:'http://localhost/BBS/BBS_Server/public/', // if your xammpp doesn't run on default port, you need to specified port
      clientHeight:'',
      searchKeyword:'',
      filterVisibility:false,
      visible:false,
      topics:[],
      discussions:[{id:'1',title:'what',content:'the ',follow:10,created_time:'',label:''}],
      hots:[],
      deleted:[],
    },
    //function  which is called after the page is created
    mounted:function () {
      window.onscroll = function () {
        app.clientHeight = document.documentElement.scrollTop;
      }
      var url = location.href;
      var search='';
      for(var i=0;i<url.length;i++)
      {
          if(url[i]=='=')
          {
              search=url.slice(i+1,url.length);
              this.search = true;
              this.keyword = search;
          }
      }
      var param='';
      if(this.search)
          param=('&discussion_name='+this.keyword);
      var temp = this;
      //ajax to get discussion content
      axios.get(this.domain+'discussion/search?order=created_time&page_num=1&user=0'+param)
              .then(function(response)
              {
                temp.discussions = response.data.discussions;
                for(var i=0;i<temp.discussions.length;i++)
                {
                  var o = new Object();
                  o.id = temp.discussions[i].discussion_id;
                  o.label = temp.discussions[i].label;
                  o.created_time = temp.discussions[i].created_time;
                  o.title = temp.discussions[i].discussion_name;
                  o.content = temp.discussions[i].discription;
                  o.follow = temp.discussions[i].comment_number;
                  o.username = temp.discussions[i].user.username;
                  temp.deleted[i]=false;
                  temp.topics.push(o);
                }
              })
              .catch(function(error)
              {
                temp.$message.error('network error');
              });
      axios.get(this.domain+'discussion/search?order=comment_number&page_num=1&user=0')
              .then(function(response)
              {
                temp.discussions = response.data.discussions;
                for(var i=0;i<temp.discussions.length;i++)
                {
                  var o = new Object();
                  o.id = temp.discussions[i].discussion_id;
                  o.label = temp.discussions[i].label;
                  o.created_time = temp.discussions[i].created_time;
                  o.title = temp.discussions[i].discussion_name;
                  o.content = temp.discussions[i].discription;
                  o.follow = temp.discussions[i].comment_number;
                  temp.hots.push(o);
                }
              })
              .catch(function(error)
              {
                temp.$message.error('network error');
              });
      //test sample
    },
    created:function()
    {


    },
    watch: {
      clientHeight:function()
      {
        if(app.clientHeight!='')
      
          this.$refs.menu.$el.style.top = app.clientHeight+'px';
      }
    },
    methods:{
      // skip to other routers
      toTopic:function (index,type) {
        if(type=='hot') this.toRouter("discussion.html?id="+this.hots[index].id);
        else this.toRouter("discussion.html?id="+this.topics[index].id);
      },
      toCreateTopic:function()
      {
        if(sessionStorage.getItem("userid")!=null)
        {
          this.toRouter("create.html");
        }
        else this.toRouter("register.html");
      },
      toUser:function()
      {
        if(sessionStorage.getItem("userid")!=null)
        {
          this.toRouter("user.html");
        }
        else this.toRouter("register.html");
      },
      toUserDiscussion:function()
      {
        if(sessionStorage.getItem("userid")!=null)
        {
          this.toRouter("mydiscussion.html");
        }
        else this.toRouter("register.html");
      },
      //function to get data of next page
      nextPage:function()
      {
        this.page++;
        var temp = this;
        var param='user=0&';
        if(this.search)
          param+=('discussion_name='+this.keyword);
        if(this.order=='time')
          param+='&&order=created_time';
        else param+='&order=comment_number';
        if(this.filter!="all")
          param+=('&label='+this.filter);
      
        axios.get(this.domain+'discussion/search?'+param+'&page_num='+this.page)
                .then(function(response)
                {
                  temp.discussions = response.data.discussions;
                  if(temp.discussions.length==0)
                  {
                    temp.$message("No more pages");
                    temp.page--;
                  }
                  for(var i=0;i<temp.discussions.length;i++)
                  {
                    var o = new Object();
                    o.id = temp.discussions[i].discussion_id;
                    o.title = temp.discussions[i].discussion_name;
                    o.content = temp.discussions[i].discription;
                    o.follow = temp.discussions[i].comment_number;
                    o.label = temp.discussions[i].label;
                    o.created_time = temp.discussions[i].created_time;
                    temp.deleted[i] = false;
                    temp.topics.push(o);
                  }
                
                })
                .catch(function(error)
                {
                  temp.$message.error('network error');
                });
      },
      //function to change the order (by time, by number) of data
      setOrder(order)
      {
        this.page=1;
        if(order==this.order) return;
        while(this.topics.length!=0) this.topics.pop();
        this.order=order;
        var temp = this;
        var param='';
        if(this.search)
          param+=('&discussion_name='+this.keyword);
        if(this.order=='time')
          param+='&order=created_time';
        else param+='&&order=comment_number';
        if(this.filter!="all")
          param+=('&label='+this.filter);
      
        axios.get(this.domain+'discussion/search?user=0'+param+'&page_num=1')
                .then(function(response)
                {
                 
                  temp.discussions = response.data.discussions;
                  for(var i=0;i<temp.discussions.length;i++) {
                      var o = new Object();
                      o.id = temp.discussions[i].discussion_id;
                      o.title = temp.discussions[i].discussion_name;
                      o.content = temp.discussions[i].discription;
                      o.follow = temp.discussions[i].comment_number;
                      o.label = temp.discussions[i].label;
                      o.created_time = temp.discussions[i].created_time;
                      temp.deleted[i] = false;
                      temp.topics.push(o);
                  }
                })
                .catch(function(error)
                {
                  temp.$message.error('network error');
                });
      },
      //function to filter data by label
      setFilter(filter)
      {
        this.page=1;
        if(filter==this.filter) return ;
        this.filter = filter;
        while(this.topics.length!=0) this.topics.pop();
        var temp = this;
        var param='';
        if(this.search)
          param+=('&discussion_name='+this.keyword);
        if(this.filter!="all")
        {
          if(this.order=='time')
            param+='&&order=created_time&label='+filter;
          else param+='&&order=comment_number&label='+filter;
        }else{  // do not specify filter, but order is necessary
          if(this.order=='time')
            param+='&&order=created_time';
          else param+='&&order=comment_number';
        }
        axios.get(this.domain+'discussion/search?user=0'+param+'&page_num=1')
                .then(function(response)
                {
                 
                  temp.discussions = response.data.discussions;
                  for(var i=0;i<temp.discussions.length;i++) {
                    
                    var o = new Object();
                    o.id = temp.discussions[i].discussion_id;
                    o.title = temp.discussions[i].discussion_name;
                    o.content = temp.discussions[i].discription;
                    o.follow = temp.discussions[i].comment_number;
                    o.label = temp.discussions[i].label;
                    o.created_time = temp.discussions[i].created_time;
                    temp.deleted[i] = false;
                    temp.topics.push(o);
                  }
                })
                .catch(function(error)
                {
                  temp.$message.error('network error');
                });
      },
      //search specific data
      searchKey:function()
      {
        this.search = true;
        this.page=1;
        while(this.topics.length!=0) this.topics.pop();
        var temp = this;
        var param='discussion_name='+this.keyword;
        if(this.order=='time')
          param+='&&order=created_time';
        else param+='&order=comment_number';
        if(this.filter!="all")
          param+=('&label='+this.filter);
       
        axios.get(this.domain+'discussion/search?user=0&'+param+'&page_num=1')
                .then(function(response)
                {
                 
                  temp.discussions = response.data.discussions;
                  for(var i=0;i<temp.discussions.length;i++) {
                    var o = new Object();
                    o.id = temp.discussions[i].discussion_id;
                    o.title = temp.discussions[i].discussion_name;
                    o.content = temp.discussions[i].discription;
                    o.follow = temp.discussions[i].comment_number;
                    o.label = temp.discussions[i].label;
                    o.created_time = temp.discussions[i].created_time;
                    temp.deleted[i] = false;
                    temp.topics.push(o);
                  }
                })
                .catch(function(error)
                {
                  temp.$message.error('network error');
                });
      },
      toRouter:function (router,value) {
        var target = location.href;
        for(var i = target.length-1;i>0;i--)
        {
         
          if(target[i]=='/')
          {
            target = target.slice(0,i+1);
            break;
          }
        }
        location.href=target+router;
        
      },
      logOut:function()
      {
        var temp = this;
        //this.toRouter("index.html")
        this.$alert('Are you sure to log out?', 'Log out', {
          confirmButtonText: 'ok',
          callback: action => {
            this.$message({
              type: 'info',
              message: `You have ${ action }ed`
            });
            if(action!="cancel") {

              axios.post(this.domain)
                      .then(function (response) {
                        sessionStorage.clear();
                        temp.toRouter("index.html")
                      })
                      .catch(function (error) {
                        temp.$message.error('Network error');
                      });
            }
          }
        });
      },
    }
  })
</script>
</body>
</html>