<!DOCTYPE html>
<html lang="en">
<head>
    <title>bbs-luebeck</title>
</head>
<link rel="stylesheet" href="./main.css">
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcss.com/qs/6.5.2/qs.min.js"></script>
<body class="background">
<style>
[v-cloak] {
  display: none;
}
</style>
<div id="app" v-cloak>
    <el-row ref="menu" class="menu">
        <el-col :offset="4" :span="2" style = "cursor: pointer" ><div @click="toRouter('index.html')">LOGO</div></el-col>
        <el-col :offset="2" :span="4"><div><el-input v-model="searchKeyword" placeholder="type keyword"></el-input></div></el-col>
        <el-col :span="1"><div><el-button icon="el-icon-search" circle size="middle"></el-button></div></el-col>
        <el-col :span="2"><div><el-button type="primary" @click="toCreateTopic()" icon="el-icon-plus">Create a topic</el-button></div></el-col>
        <el-col :offset="1" :span="1"><div><el-button type="info" icon="el-icon-chat-dot-square" circle @click="toUserDiscussion()"></el-button></div></el-col>
        <el-col :span="2"><div><el-button type="info" icon="el-icon-user" circle @click="toUser()"></el-button></div></el-col>
    </el-row>
    <el-row :gutter="20" style="top:20px">
        <el-col :offset="6" :span="7" class="border1">
            <el-form ref="form" :model="form" label-width="80px">
<!--                <el-form-item label="Picture">-->
<!--                    <el-upload-->
<!--                            class="avatar-uploader"-->
<!--                            action="https://jsonplaceholder.typicode.com/posts/"-->
<!--                            :show-file-list="false"-->
<!--                            :on-success="handleAvatarSuccess"-->
<!--                            :before-upload="beforeAvatarUpload">-->
<!--                        <img v-if="imageUrl" :src="imageUrl" class="avatar">-->
<!--                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>-->
<!--                    </el-upload>-->
<!--                </el-form-item>-->
                <el-form-item label="Name">
                    <el-input v-model="form.name"></el-input>
                </el-form-item>
                <el-form-item label="Email">
                    <el-input v-model="form.email" type="email"></el-input>
                </el-form-item>
                <el-form-item label="Birthday">
                    <el-date-picker
                            v-model="form.birth"
                            type="date"
                            placeholder="select your birthday">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="Description">
                    <el-input type="textarea" :rows="7" v-model="form.desc"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit">Save</el-button>
                    <el-button type="danger" @click="logOut()">Log out</el-button>
                </el-form-item>
            </el-form>
        </el-col>
    </el-row>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            form:{pic:'',name:'shen',email:'a@bc.com',birth:'',desc:'hahaha'},
            clientHeight:'',
            searchKeyword:'',
            domain:'http://localhost/BBS/BBS_Server/public/user/logout',
            visible:false,
            hots:["a","b","c"]
        },
        mounted:function () {
            window.onscroll = function () {
                app.clientHeight = document.documentElement.scrollTop;
            }
        },
        created:function()
        {
            console.log(123);
            this.form.name=sessionStorage.getItem("username");
        },
        watch: {
            clientHeight:function()
            {
                if(app.clientHeight!='')
                //console.log(document.documentElement.scrollTop);
                    this.$refs.menu.$el.style.top = app.clientHeight+'px';
            }
        },
        methods:{
            toCreateTopic:function()
            {
                if(sessionStorage.getItem("userid")!=null)
                {
                    this.toRouter("create.html");
                }
                else this.toRouter("register.html");
            },
            toUser:function()
            {
                if(sessionStorage.getItem("userid")!=null)
                {
                    this.toRouter("user.html");
                }
                else this.toRouter("register.html");
            },
            toUserDiscussion:function()
            {
                if(sessionStorage.getItem("userid")!=null)
                {
                    this.toRouter("mydiscussion.html");
                }
                else this.toRouter("register.html");
            },
            onSubmit:function () {
                var temp = this;
                this.$alert('Are you sure to change your information?', 'Change Information', {
                    confirmButtonText: 'ok',
                    callback: action => {
                        this.$message({
                            type: 'info',
                            message: `You have ${ action }ed`
                        });
                        sessionStorage.setItem("username",temp.form.name);
                        sessionStorage.setItem("email",temp.form.email);
                        sessionStorage.setItem("birth",temp.form.birth);
                        sessionStorage.setItem("description",temp.form.description);
                        //server update
                    }
                });
            },
            logOut:function()
            {
                var temp = this;
                //this.toRouter("index.html")
                axios.post(this.domain)
                    .then(function (response)
                    {
                        sessionStorage.clear();
                        temp.toRouter("index.html")
                    })
                    .catch(function(error)
                    {
                        temp.$message.error('Network error');
                    });
            },
            toRouter:function (router,value) {
                var target = location.href;
                for(var i = target.length-1;i>0;i--)
                {
                    //console.log(target[i]);
                    if(target[i]=='/')
                    {
                        target = target.slice(0,i+1);
                        break;
                    }
                }
                location.href=target+router;
                console.log(target+router);
            }
        }
    })
</script>
</body>
</html>